<%- include("header") -%>
<link rel="stylesheet" href="css/adopt.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="btn-2">
      <a href="/"><span>Orphanage</span></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-light logout  navbarbutton" href="/logout" role="button">Log Out</a>
    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">
    </div>
  </nav>

  <!-- //////////////////////////////////// -->


  <%items.forEach(function(item){ %>
  <div class="blog-card spring-fever">
    <div class="title-content">
      <a href="/<%=item.name%>">
        <h3> <%=item.name%></h3>
      </a>
    </div>
    <div class="card-info">
      <%=item.description.substring(0,180)+"........"%>
      <a href="/<%=item.name%>">Read Article<span class="licon icon-arr icon-black"></span></a>
    </div>
    <!-- <div class="utility-info">
      <ul class="utility-list">
        <li><span class="licon icon-like"></span><a href="#">2</a></li>
        <li><span class="licon icon-tag"></span><a href="#">Photos</a>
      </ul>
    </div> -->
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->
  <%}) %>
