<%- include("header") -%>
<link rel="stylesheet" href="css/adopt.css">
<script>
  // JavaScript code
  function search_animal() {
    let input = document.getElementById('searchbar').value
    input = input.toLowerCase();
    let x = document.getElementsByClassName('searchname');

    for (i = 0; i < x.length; i++) {
      var node = x[i].getElementsByClassName("2");
      for (var j = 0; j < node.length; j++) {
        if (!node[j].innerHTML.toLowerCase().includes(input)) {
          x[i].style.display = "none";
        } else {
          x[i].style.display = "list-item";
        }
      }
    }
  }


  function search_individual() {
    let input = document.getElementById('searchindi').value
    input = input.toLowerCase();
    let x = document.getElementsByClassName('searchindividual');

    for (i = 0; i < x.length; i++) {
      var node = x[i].getElementsByClassName("1");
      for (var j = 0; j < node.length; j++) {
        if (!node[j].innerHTML.toLowerCase().includes(input)) {
          x[i].style.display = "none";
        } else {
          x[i].style.display = "list-item";
        }
      }
    }
  }
</script>
</head>

<body>

  <!-- ///////////////////////////////////////////////////// -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-light logout  navbarbutton" href="/logout" role="button">Log Out</a>
    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">
    </div>
  </nav>

  <!-- /////////////////////////////////////////////////////// -->

  <h2>Orphanages</h2>

  <div class="orphanagelist">
    <!-- /////////////////////search///////////////////////// -->

    <form action="">
      <input id="searchbar" onkeyup="search_animal()" type="text" name="search" placeholder="Search Orphanages.." autocomplete="off" required>
      <i class="fa fa-search"></i>
      <a class="searcha" href="javascript:void(0)" id="clear-btn">Clear</a>
    </form>

    <!-- ////////////////////////////////////////////////// -->
    <%items.forEach(function(item){ %>
    <div class="blog-card spring-fever <%=item.name%> searchname">
      <div class="title-content">
        <a href="/<%=item.name%>">
          <h3 class="2"><%=item.name%></h3>
        </a>
      </div>
      <div class="card-info">
        <%var des=item.description%>
        <%= des.substr(0,100)+"........"%>
        <a href="/<%=item.name%>">Read Article<span class="licon icon-arr icon-black"></span></a>
      </div>
      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
    <%})%>
  </div>

  <!-- /////////////////recent lost/////////////////// -->
  <h2>Children recently Effected</h2>

  <!-- //////////////////search//////////////////// -->

  <div class="orphanagelist">
    <form action="">
      <input id="searchindi" onkeyup="search_individual()" type="text" name="search" placeholder="Search Children.." autocomplete="off" required>
      <i class="fa fa-search"></i>
      <a class="searcha" href="javascript:void(0)" id="clear-btn">Clear</a>
    </form>

    <%users.forEach(function(user){ %>
    <%if(user.typeOfUser === "recentlost"){%>
    <div class="blog-card spring-fever recentlostdiv searchindividual">
      <div class="title-content">
        <a href="/individual/<%=user.name%>">
          <h3 class="1"> <%=user.name%></h3>
        </a>
      </div>

      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
    <%}%>
    <%})%>
  </div>
