<%- include("header") -%>
<link rel="stylesheet" href="/css/chat.css">
<script>
  $(document).ready(function() {
    $('html,.chatbox').animate({
      scrollTop: 100000000000000000000000000000000000
    }, 0.000000000000000000001);
    return false;
  });

  function yourFunction() {
    var action_src = "https://groupcht.herokuapp.com/" + document.getElementsByName("keywords")[0].value;
    var your_form = document.getElementById('your_form');
    your_form.action = action_src;
  }
</script>

</head>

<body>
  <nav class="navbar navbar-expand-lg  bg-light">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="">
    <div class="chatname">
      <%if(check===user){%>
      <h3>Chat with <%= groupname.substring(0,groupname.indexOf('+')) %></h3>
      <%}else{%>
      <h3>Chat with <%= check %></h3>
      <%}%>
    </div>

      <%var x=""%>
      <% foundorphan.forEach(function(item){ %>
        <%if(actualuser===item.adminname){%>
          <% x=item.name %>
        <%}%>
      <%})%>

      <div class="chatbox ">
        <% newChat.forEach(function(item){ %>
        <%if(groupname===item.groupname){%>
        <%if(actualuser===item.sendername || x===item.sendername){%>
        <div class="msg right d-flex">
          <p class='chat'><%=  item.chat  %></p>
        </div>
        <p class='chat time timeright'><%=  item.time  %></p>
        <%}else{%>
        <div class="msg">
          <p class='chat'><%=  item.chat  %></p>
        </div>
        <p class='chat time timeleft'><%=  item.time  %></p>
        <%}%>
        <%}%>
        <%})%>
      </div>
    </div>



    <div class="submitcard ">
      <div class="card-footer">
        <form class="form-inline chatlabel " action="/chat" method="post">
          <div class="input-group">
            <input size="50" class="form-control type_msg md-12" name="chat" placeholder="Type your message..." autocomplete="off" required autofocus>
            <%if(user===check){%>
            <button class="input-group-text send_btn addbutton btn " type="submit" name="button" value="<%=groupname.substring(0,groupname.indexOf('+'))%>+<%=check%>"><span class=""><i class="fas fa-location-arrow"></i></span></button>
            <%}else{%>
            <button class=" input-group-text send_btn addbutton btn " type="submit" name="button" value="<%=user%>+<%=check%>"><span class=""><i class="fas fa-location-arrow"></i></span></button>
            <%}%>
         </div>
       </form>
   </div>
 </div>
