<%- include("header") -%>
<link rel="stylesheet" href="css/studentdetails.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/" style="border:0">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-light logout  navbarbutton" href="/logout" role="button">Log Out</a>
    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">
    </div>
  </nav>
  <!-- ////////////////////////////////////////////////////////////////////// -->
  <%items.forEach(function(item){ %>
  <%if(check===item.name){%>
  <h3 class="name animate__animated animate__zoomInDown"> <%=item.name%></h3>
  <%}%>
  <%}) %>
  <hr class="titlebelow" style="height:1px;border-width:0;color:#897134;background-color:#897134;">

  <div class="row">
    <div class="col-md-6 orphanageimagebox">
      <%items.forEach(function(item){ %>
      <%if(check===item.name){%>
      <img class="orphanageimage" src="data:image/<%=item.img.contentType%>;base64,
                                     <%=item.img.data.toString('base64')%>">
      <%}%>
    <%})%>
    </div>
    <div class="col-md-6 box">
      <%items.forEach(function(item){ %>
      <%if(check===item.name){%>
      <p>Orphanage address : <%=item.address%></p>
      <p>Phone number : <%=item.phonenum%></p>
      <p>State : <%=item.state%></p>
      <p>City : <%=item.city%></p>
      <p>Pincode : <%=item.pincode%></p>
      <p>Mail : <%=item.mail%></p>
      <%}%>
      <%}) %>
    </div>
  </div>

  <!-- /////////////////////////////stars///////////////////////////////////////// -->
  <div class="stardiv">
    <%items.forEach(function(item){ %>
    <%if(check===item.name){%>

    <%var likedornot = 0%>
    <%loop1 : for (var liker in item.stars.name) { %>
    <%loop2 : if(user==item.stars.name[liker]){%>
    <%if(item.stars.final>4.5){%>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <%}else if(item.stars.final>4){%>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="dashicons:star-half" style="color: black; font-size: 30px;"></span>
    <%}else if(item.stars.final>3.5){%>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <%}else if(item.stars.final>3){%>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="dashicons:star-half" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <%}else if(item.stars.final>2.5){%>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <%}else if(item.stars.final>2){%>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="dashicons:star-half" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <%}else if(item.stars.final>1.5){%>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <%}else if(item.stars.final>1){%>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="dashicons:star-half" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <%}else if(item.stars.final>0.5){%>
    <span class="iconify" data-icon="ant-design:star-filled" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <%}else if(item.stars.final>0){%>
    <span class="iconify" data-icon="dashicons:star-half" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;"></span>
    <%}%>

    <%likedornot = 1%>
    <% break loop1 %>
    <%}else{%>
    <%}%>
    <%}%>
    <%if(likedornot == 0){%>
    <form action=" /studentdetailsstars" method="POST" class="starform">
      <button class="star" type="submit" value="<%=item._id%>+<%=user%>*<%=check%>&1" name="button">
        <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'"></span>
      </button>
    </form>
    <form action="/studentdetailsstars" method="POST" class="starform">
      <button class="star" type="submit" value="<%=item._id%>+<%=user%>*<%=check%>&2" name="button">
        <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'"></span>
      </button>
    </form>
    <form action="/studentdetailsstars" method="POST" class="starform">
      <button class="star" type="submit" value="<%=item._id%>+<%=user%>*<%=check%>&3" name="button">
        <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'"></span>
      </button>
    </form>
    <form action="/studentdetailsstars" method="POST" class="starform">
      <button class="star" type="submit" value="<%=item._id%>+<%=user%>*<%=check%>&4" name="button">
        <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'"></span>
      </button>
    </form>
    <form action="/studentdetailsstars" method="POST" class="starform">
      <button class="star" type="submit" value="<%=item._id%>+<%=user%>*<%=check%>&5" name="button">
        <span class="iconify" data-icon="bi:star" style="color: black; font-size: 30px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'"></span>
      </button>
    </form>
    <h5>Rating <%=item.stars.final.toFixed(1)%></h5>
    <%}%>
    <%}%>
    <%}) %>
  </div>


  <!-- //////////////////////////description//////////////////////////////////////////// -->
  <h4 class="Childrenhed animate__animated animate__zoomInDown">Description</h4>
  <div class="descriptionbox">
    <%items.forEach(function(item){ %>
    <%if(check===item.name){%>
    <p><%=item.description%></p>
    <%}%>
    <%})%>
  </div>
  <!-- /////////////////////////////////child details///////////////////////////////////// -->
  <h1 class="Childrenhed animate__animated animate__zoomInDown">Children</h1>
  <hr>

  <div class="container reveal fade-left">
    <%childitems.forEach(function(item){ %>
    <%items.forEach(function(mainitem){ %>
    <%if(check===mainitem.name){%>
    <%if(mainitem.name===item.orphanage){%>
    <!-- flip-card-container -->
    <div class="flip-card-container" style="--hue: 170">
      <div class="flip-card">
        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
            <img src="images/cardbg.jpg" alt="Image 2">
            <figcaption><%=item.name%></figcaption>
          </figure>

          <ul>
            <p>Age : <%=item.age%></p>
            <p>Gender : <%=item.gender%></p>
            <p>Hobies : <%=item.hobies%></p>
            <p>Studies : <%=item.studies%></p>
            <p>Guardian : <%=item.guardian%></p>
            <p>Intrested In : <%=item.intrestedin%></p>
          </ul>
        </div>
        <%requestsgot.forEach(function(reqitem){ %>
        <div class="card-back">
          <figure>
            <div class="img-bg"></div>
            <img class="childimage" src="data:image/<%=item.img.contentType%>;base64,
                                           <%=item.img.data.toString('base64')%>">
          </figure>
          <%var id1=""%>
          <%var id2=""%>
          <%if(user===reqitem.requestername){%>
          <%id1=reqitem._id%>
          <%}%>
          <%if(item.name===reqitem.childname){%>
          <% id2=reqitem._id%>
          <%}%>
          <%if(id1===id2){%>
          <form action="/request" method="post">
            <button class="flipbtn" type="submit" value="<%=user%>*<%=item.name%>&<%=check%>" name="button">Request to View</button>
          </form>
          <%}else{%>
            <form action="/request" method="post">
              <button class="flipbtn" type="button" name="button">Under review View</button>
            </form>
          <%}%>
          </div>
          <%})%>








        </div>
      </div>
      <%}%>
    <%}%>
      <%}) %>
      <%})%>
    </div>

    <!-- /////////////////////////////////////////reviews///////////////////////////// -->
    <h4 class="Childrenhed animate__animated animate__zoomInDown">Reviews</h4>
    <div class="reviews">
      <%items.forEach(function(item){ %>
      <%recivedreviews.forEach(function(review){ %>
      <%if(check===item.name){%>
      <%if(review.orphanagename===item.name){%>
      <h6><%=review.name+" :"%></h6>
      <%if(user===review.name){%>

      <%}%>
    <p><%=review.content%></p>
      <form action="/deletereview" method="post">
        <button id="reviewdelete" type="submit" name="button" class="btnreivew" value="<%=review._id%>&<%=check%>"><i class="fas fa-trash"></i></button>
        <div id="onhover">
          delete review
        </div>
      </form>
      <%}%>
    <%}%>
      <%})%>
      <%})%>
    </div>


    <!-- /////////////////////////////////add reviews///////////////////////////////////// -->
    <div class="btn11 btn11c botton" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <span>Add Review</span>
      <div class="transition"></div>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="">
        <%items.forEach(function(item){ %>
        <%if(check===item.name){%>
        <div class="card adddetailsbox">
          <h1>Add Review</h1>
          <form action="/review" method="POST">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Review</label>
              <textarea class="form-control" name="content" rows="3" autocomplete="off"></textarea>
            </div>
            <button type="submit" class="btnfos btnfos-1" value="<%=user%>*<%=check%>" name="button"> <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Submit</button>
          </form>
        </div>
        <%}%>
      <%})%>
      </div>
    </div>
    <script type="text/javascript">
      function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
          var windowHeight = window.innerHeight;
          var elementTop = reveals[i].getBoundingClientRect().top;
          var elementVisible = 150;

          if (elementTop < windowHeight - elementVisible) {
            reveals[i].classList.add("active");
          } else {
            reveals[i].classList.remove("active");
          }
        }
      }

      window.addEventListener("scroll", reveal);

      $(document).ready(function() {
        $('.reviews,.reviews').animate({
          scrollTop: 100000000000000000000000000000000000
        }, 0.000000000000000000001);
        return false;
      });
    </script>

    <%- include("footer") -%>
