<%- include("header") -%>
<link rel="stylesheet" href="css/studentdetails.css">


<script type="text/javascript">
  function reveal() {
    var reveals = document.querySelectorAll(".reveal");

    for (var i = 0; i < reveals.length; i++) {
      var windowHeight = window.innerHeight;
      var elementTop = reveals[i].getBoundingClientRect().top;
      var elementVisible = 150;

      if (elementTop < windowHeight - elementVisible) {
        reveals[i].classList.add("active");
      } else {
        reveals[i].classList.remove("active");
      }
    }
  }

  window.addEventListener("scroll", reveal);


</script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="btn-2">
      <a href="/"><span>Orphanage</span></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-light logout  navbarbutton" href="/logout" role="button">Log Out</a>
    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">
    </div>
  </nav>
  <!-- ////////////////////////////////////////////////////////////////////// -->
  <%items.forEach(function(item){ %>
  <%if(check===item.name){%>
  <h3 class="name animate__animated animate__zoomInDown"> <%=item.name%></h3>
  <%}%>
  <%}) %>
  <hr class="titlebelow" style="height:1px;border-width:0;color:#897134;background-color:#897134;">

  <div class="row">
    <div class="col-md-6 orphanageimagebox ">
      <%items.forEach(function(item){ %>
      <%if(check===item.name){%>
      <img class="orphanageimage" src="data:image/<%=item.img.contentType%>;base64,
                                     <%=item.img.data.toString('base64')%>">
      <%}%>
    <%})%>
    </div>
    <div class="col-md-6 box animate__animated animate__slideInRight">
      <%items.forEach(function(item){ %>
      <%if(check===item.name){%>
      <p>Orphanage address : <%=item.address%></p>
      <p>Phone number : <%=item.phonenum%></p>
      <p>State : <%=item.state%></p>
      <p>City : <%=item.city%></p>
      <p>Pincode : <%=item.pincode%></p>
      <p>Mail : <%=item.mail%></p>
      <%}%>
        <%}) %>
    </div>
  </div>




  <%childitems.forEach(function(item){ %>
  <%items.forEach(function(mainitem){ %>
  <%if(check===mainitem.name){%>
  <%if(mainitem.name===item.orphanage){%>
  <div class="studentbox">
    <h3><%=item.name%></h3>
    <hr>
    <img class="childimage" src="data:image/<%=item.img.contentType%>;base64,
                                   <%=item.img.data.toString('base64')%>">
    <hr>
    <p>Age : <%=item.age%></p>
    <p>Gender : <%=item.gender%></p>
    <p>Hobies : <%=item.hobies%></p>
    <p>Studies : <%=item.studies%></p>
    <p>Guardian : <%=item.guardian%></p>
    <p>Intrested In : <%=item.intrestedin%></p>
  </div>
  <%}%>
    <%}%>
  <%}) %>
  <%})%>
  <%- include("footer") -%>
