<%- include("header") -%>
<link rel="stylesheet" href="css/studentdetails.css">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-light btn-dark logout" href="/logout" role="button">Log Out</a>
    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">

    </div>

  </nav>
  <!-- ////////////////////////////////////////////////////////////////////// -->
  <%items.forEach(function(item){ %>
  <%if(check===item.adminname){%>
  <h3 class="name"> <%=item.name%></h3>
  <%}%>
  <%}) %>
  <hr class="titlebelow" style="height:1px;border-width:0;color:#897134;background-color:#897134;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">image</div>
      <div class="col-md-6 box">
        <%items.forEach(function(item){ %>
        <%if(check===item.name){%>
        <p>Orphanage address : <%=item.address%></p>
        <p>Phone number : <%=item.phonenum%></p>
        <p>State : <%=item.state%></p>
        <p>City : <%=item.city%></p>
        <p>Pincode : <%=item.pincode%></p>
        <p>Mail : <%=item.mail%></p>
        <%}%>
        <%}) %>
      </div>
    </div>




    <%childitems.forEach(function(item){ %>
    <%items.forEach(function(mainitem){ %>
    <%if(check===mainitem.name){%>
    <%if(mainitem.name===item.orphanage){%>
    <div class="studentbox">
      <h3><%=item.name%></h3>
      <p>Age : <%=item.age%></p>
      <p>Gender : <%=item.gender%></p>
      <p>Hobies : <%=item.hobies%></p>
      <p>Studies : <%=item.studies%></p>
      <p>Guardian : <%=item.guardian%></p>
      <p>Intrested In : <%=item.intrestedin%></p>
    </div>
    <%}%>
    <%}%>
    <%}) %>
    <%})%>
