<%- include("header") -%>
<link rel="stylesheet" href="css/home.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-ligh">
  <a class="navbar-brand" href="/">Orphanage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          login
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/login">login as user</a>
          <a class="dropdown-item " href="/adminlogin">login as admin</a>
          <a class="dropdown-item" href="/recentlostlogin">login as Individual</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          register
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/register">Register as user</a>
          <a class="dropdown-item" href="/adminregister">Register as admin</a>
          <a class="dropdown-item" href="/recentlostregister">Register as Individual</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#posts">Posts</a>
      </li>
      <li>
        <a href="/posts"><button type="submit" class="btn  btnadopt" name="button">Add Post</button></a>
      </li>
      <li>
        <%founduser.forEach(function(item){ %>
        <%if(item.typeOfUser==="user" & user===item.name){ %>
        <a href="/myacceptedlist">
          <button type="submit" class="btn btnadopt2" name="button">My List</button>
        </a>
        <%}%>
        <%})%>
      </li>
    </ul>
  </div>
</nav>

<article>
  <h1>Gradient Text</h1>
</article>


<!-- ////////////////////////////////////carousel///////////////////////// -->
<div class="containerr">
  <div class="carousel ">
    <div class="carousel__face"></div>
    <div class="carousel__face"></div>
    <div class="carousel__face"></div>
    <div class="carousel__face"></div>
    <div class="carousel__face"></div>
    <div class="carousel__face"></div>
    <div class="carousel__face"></div>
    <div class="carousel__face"></div>
    <div class="carousel__face"></div>
  </div>
</div>

<div class=" buttonbox">

</div>

<a href="/adoption">
  <div class="btn11 botton" type="button">
    <span>
      <h3>ADOPT</h3>
    </span>
    <div class="transition"></div>
  </div>
</a>

<!-- ////////////////////////////////////posts///////////////////////// -->
<div class="postsoverflow">
  <div class="post" id="posts" class="md-lg-3 md-sm-12">
    <%items.forEach(function(item){ %>
    <div class="postbox">

      <%if(user==item.username){%>
      <form action="/deletepost" method="post">
        <!-- <i class="fas fa-trash"></i> -->
        <button id="postdelete" type="submit" name="button" class="btndelete" value="<%=item._id%>"><i class="fas fa-trash fa-2x"></i></button>
        <div id="onhover">
          delete post
        </div>
      </form>
      <%}%>
      <%var x=""%>
      <%founduser.forEach(function(userp){ %>
      <%if(userp.typeOfUser=="recentlost"){%>
      <%if(userp.name==item.username){%>
      <a href="/individual/<%=item.username%>">
        <h3><%=item.username%></h3>
      </a>
      <%x=1%>
      <%}%>
      <%}%>
      <%})%>
      <%if(x!=1){%>
      <h3><%=item.username%></h3>
      <%}%>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <img class="postimage" src="data:image/<%=item.img.contentType%>;base64,
                                               <%=item.img.data.toString('base64')%>">
          </div>
          <!-- ////////////////////////////////////likes and description///////////////////////// -->
          <div class="col-md-7">
            <h5 class="name"> <%=item.discription%></h5>
            <%var likedornot = 0%>
            <%loop1 : for (var liker in item.likes.name) { %>
            <%if(user==item.likes.name[liker]){%>
            <span class="iconify" data-icon="flat-color-icons:like" style="color: black; font-size: 35px;"></span>
            <%likedornot = 1%>
            <% break loop1 %>
            <%}else{%>
            <%}%>
            <%}%>
            <%if(likedornot == 0){%>
            <form action="/" method="POST">
              <button class="like" type="submit" value="<%=item._id%>+<%=user%>" name="button">
                <span class="iconify" data-icon="icon-park-outline:like" style="color: black; font-size: 35px;"></span>
              </button>
            </form>
            <%}%>
            <h6 class="name">Likes  <%=item.likes.num%></h6>
            <!-- ////////////////////////////////////coments///////////////////////// -->
            <div class="comments">
              <h4 class="commentsheading">Comments</h4>
              <form class="" action="/comments" method="post">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="content" placeholder="Add comment"" aria-label=" Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" value="<%=user%>*<%=item._id%>+<%=item.username%>" name="button">Submit</button>
                  </div>
                </div>
              </form>
              <%comments.forEach(function(comment){ %>
              <%if(comment.idofposter==item._id){ %>
              <div class="commentdiv"
                <h5 class="commentcontent"><%=comment.name%> : </h5>
                <p class="commentcontent"><%=comment.content%></p>
                <%if(user==comment.name){%>
                <form action="/deletecomment" method="post">
                  <button id="commentdelete" type="submit" name="button" class="btncomment" value="<%=comment._id%>"><i class="fas fa-trash f"></i></button>
                  <div id="onhover2">
                    delete comment
                  </div>
                </form>
                <%}%>
              </div>
              <%}%>
                <%}) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%}) %>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('.postsoverflow,.postsoverflow').animate({
        scrollTop: 100000000000000000000000000000000000
      }, 0.000000000000000000001);
      return false;
    });

    function yourFunction() {
      var action_src = "https://groupcht.herokuapp.com/" + document.getElementsByName("keywords")[0].value;
      var your_form = document.getElementById('your_form');
      your_form.action = action_src;
    }
  </script>

  <%- include("footer") -%>
