<%- include("header") -%>
<link rel="stylesheet" href="css/myacceptedlist.css">


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-ligh">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <article>
    <h1>Chats</h1>
  </article>



  <%const array=[ ]%>
  <%items.forEach(function(item){ %>
  <%if(user===item.requestername){ %>
  <%if(array.includes(item.childname+"+"+item.orphanagename) === false ){ %>
  <%array.push(item.childname+"+"+item.orphanagename)%>
  <%} %>
  <%} %>
  <%}) %>

  <% array.forEach(function(arrayitem){ %>
  <%var child= arrayitem.substring(0, arrayitem.indexOf('+'));%>
  <%var reqfrom = arrayitem.split('+').pop()%>
    <%if(reqfrom==="individual"){%>
    <div class='containerrev'>
    <h3 class="cname"><%=child%></h3>
    <a class="achat" href="/chat/with/<%=user%>+<%=child%>"><button class="btn" type="submit" name="button" value="">chat</button></a>
    </div>
    <%}else{%>
    <div class='containerrev'>
    <h3 class="cname"><%=child%></h3>
    <p class="oname">From:<%=reqfrom%></p>
    <a class="achat" href="/chat/with/<%=user%>+<%=reqfrom%>"><button class="btn" type="submit" name="button" value="">chat</button></a>
    </div>
    <%}%>

   <%}) %>
    <!-- /////////////// -->
    <%- include("footer") -%>
