<%- include("header") -%>
<link rel="stylesheet" href="css/recentlost.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-left" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#request">requests</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-light logout  navbarbutton" href="/logout" role="button">Log Out</a>

  </nav>
  <!------ Include the above in your HEAD tag ---------->

  <div class="container emp-profile">
    <%items.forEach(function(item){ %>
    <%if(check===item.name){%>


      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img src="data:image/<%=item.img.contentType%>;base64,
                                                             <%=item.img.data.toString('base64')%>">
          </div>

          <form action="/updaterecentlostimage" method="post" enctype="multipart/form-data">
            <div class="container imagebox">
              <div class="row">
                <div class="col-md-6">
                  <div class="fileimg">
                  <input class="file" type="file" name="image">
                  </div>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary" name="button" value="<%=item._id%>">update photo</button>
                </div>
              </div>
            </div>
          </form>
        </div>


        <div class="col-md-6">
          <div class="profile-head">
            <h5>
              <%=item.name%>
            </h5>
            <h6>
              Need Some Love
            </h6>
            <p class="proile-rating"> <span></span></p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="chat-tab" data-toggle="tab" href="#chats" role="tab" aria-controls="profile" aria-selected="false">chats</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-md-2">
                          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                      </div> -->
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-work">
            <p>HOBBIES</p>
            <a href=""><%=item.hobies%></a><br />
            <a href=""><%=item.hobies%></a><br />
            <a href=""><%=item.hobies%></a>
            <p>INTRESTED IN</p>
            <a href=""><%=item.intrestedin%></a><br />
            <a href=""><%=item.intrestedin%></a><br />
            <a href=""><%=item.intrestedin%></a><br />

          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.name%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Age</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.age%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.mail%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Phone</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.phonenum%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Address</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.address%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>State</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.state%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>City</label>
                </div>
                <div class="col-md-6">
                  <p> <%=item.city%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Pincode</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.pincode%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Gender</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.gender%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Studies</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.studies%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Date of birth</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.dob%></p>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Experience</label>
                </div>
                <div class="col-md-6">
                  <p>Expert</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Hourly Rate</label>
                </div>
                <div class="col-md-6">
                  <p>10$/hr</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Total Projects</label>
                </div>
                <div class="col-md-6">
                  <p>230</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>English Level</label>
                </div>
                <div class="col-md-6">
                  <p>Expert</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Availability</label>
                </div>
                <div class="col-md-6">
                  <p>6 months</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Your Bio</label><br />
                  <p>Your detail description</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="chats" role="tabpanel" aria-labelledby="profile-tab">

              <%const array=[ ]%>
              <%const groupname=" "%>
              <% chat.forEach(function(chatitem){ %>
              <%if(chatitem.recevername=== check){ %>
              <%if(array.includes(chatitem.sendername) === false){ %>
              <%array.push(chatitem.sendername)%>
              <%} %>
              <%} %>
              <%}) %>

              <div class="">
                <p>chat request from </p>
                <% array.forEach(function(item){ %>
                <div class="chatbox">
                  <h6 class="listItem"><%=item%></h6>
                  <a href="/chat/with/<%=item%>+<%=check%>"><button class="btn" name="button" value="">chat</button></a>
                </div>
                <%}) %>
              </div>
            </div>
          </div>
        </div>
      </div>


    <%}%>
   <%}) %>
  </div>


  <!-- /////////////////////Request//////////////////////////// -->
  <div id="request" class="requests">
    <h3>requests</h3>
    <%requestsgot.forEach(function(request){ %>
    <%if(check===request.childname){%>
    <%if(request.individualname==="individual"){%>
    <div class="containerrev">
      <div class="container  d-flex align-items-center justify-content-center position-relative flex-wrap">
        <div class="card d-flex position-relative flex-column">
          <div class='imgContainer'>
            <h3><%=request.requestername%></h3>
          </div>
          <div class="content">
            <form class="" action="/acceptorrejectindividual" method="post">
              <button type="submit" class="btn btn-success" name="button" value="<%=request._id%>@<%=request.individualname%>&<%=request.requestername%>+<%=request.childname%>*ok"><i class="fas fa-user-check"></i></button>
              <button type="submit" class="btn btn-danger" name="button" value="<%=request._id%>@<%=request.individualname%>&<%=request.requestername%>+<%=request.childname%>*notok"><i class="fas fa-times"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <%}%>
       <%}%>
    <%})%>
  </div>
