<%- include("header") -%>
<link rel="stylesheet" href="css/recentlost.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  function openForm2() {
    console.log("clicked");
    document.querySelector('.bg-modal').style.display = "flex";
    console.log("clicked");
  }

  function closeForm2() {
    document.querySelector('.bg-modal').style.display = "none";
    console.log("* clicked");
  }
</script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-left" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#request">requests</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-light logout  navbarbutton" href="/logout" role="button">Log Out</a>

  </nav>
  <!------ Include the above in your HEAD tag ---------->
  <!-- ////////////////////////////////pop out////////////////////////////////////// -->

  <%items.forEach(function(item){ %>
  <%if(check===item.name){%>
  <div class="bg-modal">
    <div class="modal-contents">
      <form class="" action="/updatestatus" method="post">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="adopted" name="adoptornot" required>
          <label class="form-check-label" for="inlineCheckbox1">I'm Adopted</label>
        </div>
        <button type="submit" class="btn btn-primary" value="<%=item._id%>" name="button">submit</button>
      </form>
      <button class="close" onclick="closeForm2()"><span class="iconify" data-icon="ant-design:close-outlined" style="color: black; font-size: 20px;"></span></button>
      <h3>Upadate Your Details</h3>
      <form action="/recentlostdetailsupdateage" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input id="Age" type="text" class="input form-control" name="Age" placeholder="Age " autocomplete="off" aria-label=" Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="<%=item._id%>" name="button">Update Age</button>
          </div>
        </div>
      </form>
      <form action="/recentlostdetailsphone" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input id="phonenumber" type="text" name="phonenumber" class="input form-control" placeholder="phone number " aria-label=" Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="<%=item._id%>" name="button">Update Phone Number</button>
          </div>
        </div>
      </form>
      <form action="/recentlostdetailsmail" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input id="Email" type="email" name="email" class="input form-control" placeholder="email " aria-label=" Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="<%=item._id%>" name="button">Update Email</button>
          </div>
        </div>
      </form>
      <form action="/recentlostdetailaddress" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input id="Address" type="text" class="input form-control" name="Address" placeholder="Address " aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="<%=item._id%>" name="button">Upadate Address</button>
          </div>
        </div>
      </form>
      <form action="/recentlostdetailscity" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input id="City" type="text" class="input form-control" name="city" placeholder="city " aria-label="  Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="<%=item._id%>" name="button">Upadate City</button>
          </div>
        </div>
      </form>
      <form action="/recentlostdetailstate" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <select id="State" name="state" class="input form-control" placeholder=" " aria-label=" Recipient's username" aria-describedby="basic-addon2" />
          <option selected>State</option>
          <option>Andhra pradesh</option>
          <option>Arunachal pradesh</option>
          <option>Assam</option>
          <option>bihar</option>
          <option>chattisgarh</option>
          <option>goa</option>
          <option>gujarat</option>
          <option>haryana</option>
          <option>himachal pradesh</option>
          <option>jharkhand</option>
          <option>karnataka</option>
          <option>kerala</option>
          <option>madhya pradesh</option>
          <option>maharastra</option>
          <option>manipur</option>
          <option>meghalaya</option>
          <option>mizoram</option>
          <option>nagaland</option>
          <option>odisa</option>
          <option>punjab</option>
          <option>rajasthan</option>
          <option>sikkim</option>
          <option>tamilnadu</option>
          <option>telangana</option>
          <option>tripura</option>
          <option>uttarakhand</option>
          <option>uttar pradesh</option>
          <option>west bengal</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="<%=item._id%>" name="button">Upadate State"</button>
          </div>
        </div>
      </form>
      <form action="/recentlostdetailspincode" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input id="pincode" type="text" name="pincode" class="input form-control" placeholder=" PinCode" aria-label="  Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="<%=item._id%>" name="button">Upadate PinCode</button>
          </div>
        </div>
      </form>
      <form action="/recentlostdetailstudies" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input id="studies" type="text" name="studies" class="input form-control" placeholder=" studies" aria-label="  Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="<%=item._id%>" name="button">Upadate Studies</button>
          </div>
        </div>
      </form>
      <form action="/recentlostdetailoccupation" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input id="occupation" type="text" name="occupation" class="input form-control" placeholder="occupation " aria-label="  Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" value="<%=item._id%>" name="button">Upadate Occupation</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <%}%>
  <%})%>
  <!-- /////////////////////////////////////////////////////////////////////////// -->
  <div class="container emp-profile">
    <%items.forEach(function(item){ %>
    <%if(check===item.name){%>
    <button class="button" onclick="openForm2()">Update <span class="iconify" data-icon="jam:write" style="font-size: 20px;"></span></button>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="data:image/<%=item.img.contentType%>;base64,
                                                             <%=item.img.data.toString('base64')%>">
        </div>

        <form action="/updaterecentlostimage" method="post" enctype="multipart/form-data">
          <div class="container imagebox">
            <div class="row">
              <div class="col-md-6">
                <div class="fileimg">
                  <input class="file" type="file" name="image">
                </div>
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary" name="button" value="<%=item._id%>">update photo</button>
              </div>
            </div>
          </div>
        </form>
      </div>


      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            <%=item.name%>
          </h5>
          <h6>
            Need Some Love
          </h6>
          <p class="proile-rating"> <span></span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">More Info</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="profile" aria-selected="false">requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="chat-tab" data-toggle="tab" href="#chats" role="tab" aria-controls="profile" aria-selected="false">chats</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="col-md-2">
                          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>HOBBIES</p>
          <a href=""><%=item.hobies%></a><br />
          <a href=""><%=item.hobies2%></a><br />
          <p>INTRESTED IN</p>
          <a href=""><%=item.intrestedin%></a><br />
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p><%=item.name%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Age</label>
              </div>
              <div class="col-md-6">
                <p><%=item.age%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p><%=item.mail%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p><%=item.phonenum%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Address</label>
              </div>
              <div class="col-md-6">
                <p><%=item.address%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>State</label>
              </div>
              <div class="col-md-6">
                <p><%=item.state%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>City</label>
              </div>
              <div class="col-md-6">
                <p> <%=item.city%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Pincode</label>
              </div>
              <div class="col-md-6">
                <p><%=item.pincode%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Gender</label>
              </div>
              <div class="col-md-6">
                <p><%=item.gender%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Studies</label>
              </div>
              <div class="col-md-6">
                <p><%=item.studies%></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date of birth</label>
              </div>
              <div class="col-md-6">
                <p><%=item.dob%></p>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container reveal scroll fade-left" style="width:90%px; height:90%px; border:0px; overflow-x:visible; overflow-y:hidden; white-space:nowrap;">

              <div class="row">
                <div class="col-md-6">
                  <label>Mother Name</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.momname%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Father Name</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.dadname%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Achievements</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.Achievements%></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Occupation</label>
                </div>
                <div class="col-md-6">
                  <p><%=item.occupation%></p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="request" role="tabpanel" aria-labelledby="profile-tab">
            <div class="requests">
              <%requestsgot.forEach(function(request){ %>
              <%if(check===request.childname){%>
              <%if(request.individualname==="individual"){%>
              <div class="reqbox">
                <h3><%=request.requestername%></h3>
                <form class="" action="/acceptorrejectindividual" method="post">
                  <button type="submit" class="btn btn-success1" name="button" value="<%=request._id%>@<%=request.individualname%>&<%=request.requestername%>+<%=request.childname%>*ok"><i class="fas fa-user-check"></i></button>
                  <button type="submit" class="btn btn-danger1" name="button" value="<%=request._id%>@<%=request.individualname%>&<%=request.requestername%>+<%=request.childname%>*notok"><i class="fas fa-times"></i></button>
                </form>
              </div>
              <%}%>
                   <%}%>
              <%})%>
            </div>

          </div>
          <div class="tab-pane fade" id="chats" role="tabpanel" aria-labelledby="profile-tab">

            <%const array=[ ]%>
            <%const groupname=" "%>
            <% chat.forEach(function(chatitem){ %>
            <%if(chatitem.recevername=== check){ %>
            <%if(array.includes(chatitem.sendername) === false){ %>
            <%array.push(chatitem.sendername)%>
            <%} %>
            <%} %>
            <%}) %>

            <div class="">
              <% array.forEach(function(item){ %>
              <div class="chatbox">
                <h6 class="listItem"><%=item%></h6>
                <a href="/chat/with/<%=item%>+<%=check%>"><button class="btn" name="button" value="">chat</button></a>
              </div>
              <%}) %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%}%>
   <%}) %>
  </div>


  <!-- /////////////////////Request//////////////////////////// -->
    <%- include("footer") -%>
