<%- include("header") -%>
<link rel="stylesheet" href="css/studentdetails.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Orphanage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-light btn-dark logout" href="/logout" role="button">Log Out</a>
    <div class="collapse navbar-collapse mr-right" id="navbarSupportedContent">

    </div>

  </nav>
  <!-- ////////////////////////////////////////////////////////////////////// -->
  <%items.forEach(function(item){ %>
  <%if(check===item.adminname){%>
  <h3 class="name"> <%=item.name%></h3>
  <%}%>
  <%}) %>
  <hr class="titlebelow" style="height:1px;border-width:0;color:#897134;background-color:#897134;">

  <div class="row">
    <div class="col-md-6">image</div>
    <div class="col-md-6 box">
      <%items.forEach(function(item){ %>
      <%if(check===item.adminname){%>
      <p>Orphanage address : <%=item.address%></p>
      <p>Phone number : <%=item.phonenum%></p>
      <p>State : <%=item.state%></p>
      <p>City : <%=item.city%></p>
      <p>Pincode : <%=item.pincode%></p>
      <p>Mail : <%=item.mail%></p>
      <%}%>
        <%}) %>
    </div>
  </div>

  <%childitems.forEach(function(item){ %>
  <%items.forEach(function(mainitem){ %>
  <%if(check===mainitem.adminname){%>
  <%if(mainitem.name===item.orphanage){%>

  <div class="studentbox">
    <h3><%=item.name%></h3>
    <p>Age : <%=item.age%></p>
    <p>Gender : <%=item.gender%></p>
    <p>Hobies : <%=item.hobies%></p>
    <p>Studies : <%=item.studies%></p>
    <p>Guardian : <%=item.guardian%></p>
    <p>Intrested In : <%=item.intrestedin%></p>
  </div>
  <%}%>
    <%}%>
  <%}) %>
  <%})%>



    <button class="btn botton " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Add student details
    </button>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <%items.forEach(function(item){ %>
      <%if(check===item.adminname){%>

      <div class="card adddetailsbox">
        <h1>add student details</h1>
        <form action="/studentdetails" method="POST">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label> Name</label>
              <input type="text" class="form-control" name="name" placeholder="Name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Age</label>
              <input type="text" class="form-control" name="age" placeholder="ID">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label> Gender</label>
              <input type="text" class="form-control" name="gender" placeholder="Name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Hobies</label>
              <input type="text" class="form-control" name="hobies" placeholder="ID">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label> Intrested In</label>
              <input type="text" class="form-control" name="intrestedin" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">studies</label>
              <input type="text" class="form-control" name="studies" placeholder="ID">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">guardian</label>
            <input type="text" class="form-control" name="guardian" placeholder="ID" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Date of Birth</label>
            <input type="date" class="form-control" name="guardian" placeholder="DOB" required>
          </div>
          <button type="submit" class="btn btn-primary" value="<%=item.name%>" name="button">Submit</button>
        </form>
      </div>

      <%}%>
        <%}) %>

    </div>
  </div>

  <%- include("footer") -%>
